In [1]:
import pandas as pd

In [2]:
import os
import json
import requests
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import sqlalchemy as alch

In [4]:
password = os.getenv('pass_sql')
dbName="LaVidaEsSueno"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

In [5]:
df_acto1 = pd.read_csv('data/df_acto1.csv')
df_acto2 = pd.read_csv('data/df_acto2.csv')
df_acto3 = pd.read_csv('data/df_acto3.csv')

In [6]:
df_acto1.sample(2)

,personaje,texto,versos,n_versos
16,ROSAURA,Clarín...,['Clarín...'],1
94,ROSAURA,"La vida, señor, me has dado;\ny pues a tu cuen...","['La vida, señor, me has dado;', 'y pues a tu ...",4

In [13]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el personje, texto o jornada.
    Devuelve True si existe y False si no
    """
    if que == "personaje":
        query = list(engine.execute(f"SELECT nombre FROM personaje WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "texto":
        query = list(engine.execute(f"SELECT n_versos FROM texto WHERE n_versos = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "jornada":
        query = list(engine.execute(f"SELECT nombre_del_acto FROM fornada WHERE nombre_del_acto = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [14]:
check("texto", 'ROSAURA')

False

In [22]:
def insertPersonaje(string):
    """
    Llama a la función check para comprobar si existe el personaje
    Inserta personaje si no existe
    """
    if check("personaje", string):
        return "el personaje existe"
    else:
        engine.execute(f"INSERT INTO personaje (nombre) VALUES ('{string}');")

In [23]:
insertPersonaje('ROSAURA')

'el personaje existe'

In [22]:
def insertJornada(string):
    """
    Llama a la función check para comprobar si existe la jornada
    Inserta la jornada si no existe
    """
    if check("jornada ", string):
        return "la jornada existe"
    else:
        engine.execute(f"INSERT INTO jornada (nombre_del_acto) VALUES ('{string}');")

In [ ]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "pesonaje":
        return list(engine.execute(f"SELECT idPersonaje FROM personaje WHERE idPersonaje ='{string}';"))[0][0]
    elif que == "jornada":
        return list(engine.execute(f"SELECT nombre_del_acto FROM jornada WHERE nombre_del_acto ='{string}';"))[0][0]

In [ ]:
def insertTexto(fila):
    """
    La función final 
    """
    if check("texto", fila["texto"]):
        return "la el texto ya existe"
    else:
        if check("personaje", fila["personaje"]):
            idPersonaje = dameId("personaje", fila["personaje"])
        else:
            insertPersonaje(fila["personaje"])
            artista_id = dameId("personaje", fila["personaje"])
        
        if check("jornada", fila["jornada"]):
            ironhacker_id = dameId("jornada", fila["jornada"])
        else:
            insertIronhacker(fila["jornada"])
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
            
        engine.execute(f"""
        INSERT INTO canciones (nombre, letra, artistas_idartista, ironhackers_idironhacker) VALUES
        ("{fila['nombre']}", "{fila['letra']}", "{artista_id}", "{ironhacker_id}");
        """)