In [1]:
import pandas as pd
import os
import sys
import time
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from googletrans import Translator

In [6]:
df = pd.read_csv('../data/df_total.csv')
df.reset_index()

,index,personaje,texto,jornada,versos,n_versos
0,0,ROSAURA,"Hipogrifo violento,\nque corriste parejas con ...",1,"['Hipogrifo violento,', 'que corriste parejas ...",22
1,1,CLARÍN,"Di dos, y no me dejes\nen la posada a mí cuand...",1,"['Di dos, y no me dejes', 'en la posada a mí c...",10
2,2,ROSAURA,"No quise darte parte\nen mis quejas, Clarín, p...",1,"['No quise darte parte', 'en mis quejas, Clarí...",8
3,3,CLARÍN,"El filósofo era\nun borracho barbón. ¡Oh, quié...",1,"['El filósofo era', 'un borracho barbón. ¡Oh, ...",8
4,4,ROSAURA,¡Quién ha visto sucesos tan extraños!\nMas si ...,1,"['¡Quién ha visto sucesos tan extraños!', 'Mas...",6
...,...,...,...,...,...,...
486,486,SEGISMUNDO,La torre; y porque no salgas \ndella nunca has...,3,"['La torre; y porque no salgas ', 'della nunca...",5
487,487,BASILIO,Tu ingenio a todos admira.,3,['Tu ingenio a todos admira. '],1
488,488,ASTOLFO,¡Qué condición tan mudada!,3,['¡Qué condición tan mudada!'],1
489,489,ROSAURA,¡Qué discreto y qué prudente!,3,['¡Qué discreto y qué prudente!'],1
490,490,SEGISMUNDO,"¿Qué os admira? ¿Qué os espanta,\nsi fue mi ma...",3,"['¿Qué os admira? ¿Qué os espanta,', 'si fue m...",15

In [5]:
df.sample(3)

,personaje,texto,jornada,versos,n_versos
407,CLOTALDO,"...tu rey, y esposo de Estrella.",3,"['...tu rey, y esposo de Estrella.']",1
61,ASTOLFO,"Muy mal informada estáis, \nEstrella, pues...",1,"[' Muy mal informada estáis, ', 'Estrella, ...",55
390,BASILIO,"Dadme un caballo, porque yo en persona\nve...",3,"[' Dadme un caballo, porque yo en persona',...",5

In [7]:
df['versos'][0]

"['Hipogrifo violento,', 'que corriste parejas con el viento,', '¿dónde rayo sin llama,', 'pájaro sin matiz, pez sin escama', 'y bruto sin instinto ', 'natural, al confuso laberinto', 'de esas desnudas peñas te desbocas,', 'te arrastras y despeñas?', 'Quédate en este monte,', 'donde tengan los brutos su Faetonte; ', 'que yo, sin más camino', 'que el que me dan las leyes del destino,', 'ciega y desesperada,', 'bajaré la cabeza enmarañada', 'deste monte eminente ', 'que arruga el sol el ceño de la frente.', 'Mal, Polonia, recibes', 'a un extranjero, pues con sangre escribes', 'su entrada en tus arenas;', 'y apenas llega, cuando llega a penas. ', 'Bien mi suerte lo dice;', 'mas ¿dónde halló piedad un infelice?']"

In [8]:
df_1.shape

(110, 4)

In [9]:
df_2.shape

(227, 4)

In [10]:
df_3.shape

(154, 4)

In [13]:
trans = Translator()

In [14]:
esp = "españa es el mejor país de europa"
en = trans.translate(esp, src='es', dest='en')
print(en)

Translated(src=en, dest=en, text=españa es el mejor país de europa, pronunciation=españa es el mejor país de europa, extra_data="{'translat...")

In [ ]:
def english(string):
    try:
        en = trans.translate(string,dest="en")
        return en.text
    except:
        None

In [ ]:
def reenglish(string):
    try:
        if df_1.versos == None:
            en = trans.translate(string,dest="en")
            return en.text
        else:
            return string
    except:
        None

In [ ]:
df_1

In [ ]:
trans = Translator()

In [12]:
df_1['versos_en']= df_1.versos.apply(english)

NameError: name 'english' is not defined

In [ ]:
df_1['versos'][0]

In [ ]:
esp = df_1['versos'][0]
en = trans.translate(esp, src='es', dest="en")
print(en)

In [ ]:
df_1[30:50]

In [ ]:
time.sleep(100)
df_2['versos_en']= df_2.versos.apply(english)

In [ ]:
time.sleep(200)
df_3['versos_en']= df_3.versos.apply(english)

In [ ]:
df_1.head()

In [ ]:

# Create a Translator object providing your DeepL API authentication key.
# To avoid writing your key in source code, you can set it in an environment
# variable DEEPL_AUTH_KEY, then read the variable in your Python code:
translator = deepl.Translator(os.getenv("DEEPL_AUTH_KEY"))

# Translate multiple texts into British English
result = translator.translate_text(df_1['versos'][0], target_lang="EN-GB")
print(result.text)  # "How are you?"

In [ ]:
def traduc_versos(list):
    translator = deepl.Translator(os.getenv("DEEPL_AUTH_KEY"))
    try:
        time.sleep(3)
        result = translator.translate_text(df_1['versos'], target_lang="EN-GB")
        return result
    except:
        return Error

In [ ]:
fd = open('../data/LID.pdf', "rb")
viewer = SimplePDFViewer(fd)
viewer.render()

In [ ]:
markdown = viewer.canvas.text_content
markdown

In [ ]:
viewer.canvas.strings

In [ ]:
 isinstance(markdown, str)

In [ ]:
with open("example-crash-markdown.txt", "w") as f:
    f.write(markdown)

In [ ]:
document = Document("../data/LID.docx")

In [ ]:
data = [[cell.text for cell in row.cells] for row in table.rows]
df = pd.DataFrame(data)

In [ ]:
import docx
doc = docx.Document("../data/LID.docx")
paras = [p.text for p in doc.paragraphs if p.text]

In [ ]:
print(f'=== Output type is a {type(paras)} of {type(paras[1])} \ntotal length is {len(paras)} ===')

In [ ]:
print(paras)