# Creación y población de una base de datos MySql desde Python

## Impotramos las librerías

In [1]:
import pandas as pd

In [2]:
import os
import json
import requests
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import sqlalchemy as alch
import ast
import sys
sys.path.append('../tools')
import sql_tool as st

 ## Nos conectamos al servicio

In [4]:
password = os.getenv('pass_sql')
dbName="LaVidaEsSueno"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

## Cargamos el DataFrame creado al efecto en otro jupyter.

In [5]:
df = pd.read_csv('../data/df_total.csv')

In [6]:
df.sample(2)

,n_interven,personaje,texto,jornada,versos,n_versos
64,64,ESTRELLA,Sabio Tales...,1,[' Sabio Tales...'],1
263,153,ROSAURA,Tu esclava soy.,2,['Tu esclava soy.'],1

## LLamamos a la función superinsercion de la carpeta tools

In [7]:
col1 = 'n_interven'
col2 = 'personaje'
col3 = 'texto'
col4 = 'jornada'
col5 = 'versos'
col6 = 'n_versos'
st.superinsercion(df,col1,col2,col3,col4,col5,col6)

# Base de datos creada en MySQL workbench

-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema lavidaessueno
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema lavidaessueno
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `lavidaessueno` DEFAULT CHARACTER SET utf8 ;
USE `lavidaessueno` ;

-- -----------------------------------------------------
-- Table `lavidaessueno`.`jornada`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`jornada` (
  `idjornada` INT NOT NULL AUTO_INCREMENT,
  `nombre_del_acto` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`idjornada`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`personaje`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`personaje` (
  `idPersonaje` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`idPersonaje`))
ENGINE = InnoDB
AUTO_INCREMENT = 2
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`obra`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`obra` (
  `idtexto` INT NOT NULL AUTO_INCREMENT,
  `texto` TEXT NULL DEFAULT NULL,
  `n_interven` INT NULL DEFAULT NULL,
  `n_versos` INT NULL DEFAULT NULL,
  `jornada_idjornada` INT NOT NULL,
  `Personaje_idPersonaje` INT NOT NULL,
  PRIMARY KEY (`idtexto`),
  INDEX `fk_texto_jornada_idx` (`jornada_idjornada` ASC) INVISIBLE,
  INDEX `fk_texto_Personaje1_idx` (`Personaje_idPersonaje` ASC) VISIBLE,
  CONSTRAINT `fk_texto_jornada`
    FOREIGN KEY (`jornada_idjornada`)
    REFERENCES `lavidaessueno`.`jornada` (`idjornada`),
  CONSTRAINT `fk_texto_Personaje1`
    FOREIGN KEY (`Personaje_idPersonaje`)
    REFERENCES `lavidaessueno`.`personaje` (`idPersonaje`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`versos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`versos` (
  `idverso` INT NOT NULL AUTO_INCREMENT,
  `verso_suelto` TEXT NULL,
  `obra_idtexto` INT NOT NULL,
  INDEX `fk_versos_obra1_idx` (`obra_idtexto` ASC) VISIBLE,
  PRIMARY KEY (`idverso`),
  CONSTRAINT `fk_versos_obra1`
    FOREIGN KEY (`obra_idtexto`)
    REFERENCES `lavidaessueno`.`obra` (`idtexto`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;