In [1]:
import pandas as pd

In [2]:
import os
import json
import requests
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import sqlalchemy as alch
import ast

In [4]:
password = os.getenv('pass_sql')
dbName="LaVidaEsSueno"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("me conecté")

me conecté

In [5]:
df = pd.read_csv('../data/df_total.csv')

In [6]:
df.sample(2)

,n_interven,personaje,texto,jornada,versos,n_versos
476,139,SEGISMUNDO,Pues que ya vencer aguarda\nmi valor grandes v...,3,"['Pues que ya vencer aguarda', 'mi valor grand...",7
49,49,ROSAURA,"Mi espada es ésta, que a ti\nsolamente ha de e...",1,"['Mi espada es ésta, que a ti', 'solamente ha ...",5

In [7]:
def check(que,string):
    """
    Función parametrizada que comprueba en cada tabla si existe el personje, texto, jornada o verso.
    Devuelve True si existe y False si no
    """
    if que == "personaje":
        query = list(engine.execute(f"SELECT nombre FROM personaje WHERE nombre = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "obra":
        query = list(engine.execute(f"SELECT texto FROM obra WHERE texto = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "jornada":
        query = list(engine.execute(f"SELECT nombre_del_acto FROM jornada WHERE nombre_del_acto = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False
        
    elif que == "verso":
        query = list(engine.execute(f"SELECT verso_suelto FROM versos WHERE verso_suelto = '{string}'"))
        if len(query) > 0:
            return True
        else:
            return False

In [8]:
check("obra", 1)

False

In [9]:
def insertPersonaje(col,string):
    """
    Llama a la función check para comprobar si existe el personaje
    Inserta personaje si no existe
    """
    if check("personaje", string):
        return "el personaje existe"
    else:
        engine.execute(f"INSERT INTO personaje (nombre) VALUES ('{string}');")

In [10]:
def insertJornada(col, string):
    """
    Llama a la función check para comprobar si existe la jornada
    Inserta la jornada si no existe
    """
    if check("jornada ", string):
        return "la jornada existe"
    else:
        engine.execute(f"INSERT INTO jornada (nombre_del_acto) VALUES ('{string}');")

In [11]:
def dameId(que,string):
    """
    Devuelve el ID de lo que le pidamos sabiendo que ese elemento EXISTE
    """
    if que == "personaje":
        return list(engine.execute(f"SELECT idPersonaje FROM personaje WHERE nombre ='{string}';"))[0][0]
    elif que == "jornada":
        return list(engine.execute(f"SELECT idjornada FROM jornada WHERE nombre_del_acto ='{string}';"))[0][0]
    elif que == "obra":
        return list(engine.execute(f"SELECT idtexto FROM obra WHERE texto ='{string}';"))[0][0]

In [12]:
def insertObra(col, tex, n_inter, n_ver, col4, col2):
    """
    Llama a la función check para comprobar si existe el n_ver
    Inserta todos los datos de la tabla texto
    col4 = jornada
    col2 = presonaje
    """
    if check("texto", tex):
        return "el texto existe"
    else:
        idjornada = dameId( 'jornada', col4)
        idPesonaje = dameId('personaje', col2)
        engine.execute(f"INSERT INTO obra (texto, n_interven, n_versos, jornada_idjornada, Personaje_idPersonaje) VALUES ('{tex}','{n_inter}','{n_ver}','{idjornada}', '{idPesonaje}');")

In [13]:
def insertVersos(col, string, obr):
    """
    Llama a la función check para comprobar si existe la jornada
    Inserta la jornada si no existe
    """
    if check("verso ", string):
        return "el verso existe"
    else:
        idtexto = dameId('obra', obr)
        engine.execute(f"INSERT INTO versos (verso_suelto, obra_idtexto) VALUES ('{string}', '{idtexto}');")

In [17]:
def superinsercion(df,col1,col2,col3,col4,col5,col6):
    """
    col1 = n_interven
    col2 = personaje
    col3 = texto
    col4 = jornada
    col5 = versos
    col6 = n_versos
    """
    for i,r in df.iterrows():
        try:
            insertPersonaje(col2, r[col2])          
            insertJornada(col4, r[col4])
            insertObra(col3, r[col3],r[col1],r[col6],r[col4], r[col2])
            for v in ast.literal_eval(r[col5]):
                insertVersos(col5, v, r[col3])
        except:
            return f"{i},{Exception}"

In [ ]:
df1 = df[0:5]

In [ ]:
df1

In [ ]:
for i, r in df1.iterrows():
    insertPersonaje( 'personaje', r['personaje'])
    insertJornada('jornada', r['jornada'])
    insertObra('texto', r['texto'],r['n_interven'],r['n_versos'], r['jornada'],r['personaje'])
    for i in ast.literal_eval(r['versos']):
        insertVersos('versos',i,r['texto'])

In [ ]:
for i, r in df1.iterrows():
    for i in ast.literal_eval(r['versos']):
        print('versos', i)

In [16]:
df.head(3)

,n_interven,personaje,texto,jornada,versos,n_versos
0,0,ROSAURA,"Hipogrifo violento,\nque corriste parejas con ...",1,"['Hipogrifo violento,', 'que corriste parejas ...",22
1,1,CLARÍN,"Di dos, y no me dejes\nen la posada a mí cuand...",1,"['Di dos, y no me dejes', 'en la posada a mí c...",10
2,2,ROSAURA,"No quise darte parte\nen mis quejas, Clarín, p...",1,"['No quise darte parte', 'en mis quejas, Clarí...",8

In [18]:
col1 = 'n_interven'
col2 = 'personaje'
col3 = 'texto'
col4 = 'jornada'
col5 = 'versos'
col6 = 'n_versos'
superinsercion(df,col1,col2,col3,col4,col5,col6)

In [ ]:
def insertTexto(fila):
    """
    La función final 
    """
    if check("texto", fila["texto"]):
        return "la el texto ya existe"
    else:
        if check("personaje", fila["personaje"]):
            idPersonaje = dameId("personaje", fila["personaje"])
        else:
            insertPersonaje(fila["personaje"])
            artista_id = dameId("personaje", fila["personaje"])
        
        if check("jornada", fila["jornada"]):
            ironhacker_id = dameId("jornada", fila["jornada"])
        else:
            insertIronhacker(fila["jornada"])
            ironhacker_id = dameId("ironhacker", fila["ironhacker"])
            
        engine.execute(f"""
        INSERT INTO canciones (nombre, letra, artistas_idartista, ironhackers_idironhacker) VALUES
        ("{fila['nombre']}", "{fila['letra']}", "{artista_id}", "{ironhacker_id}");
        """)

In [ ]:
print(dameId('personaje', 'ROSAURA'))

In [ ]:

for i, r in df1.iterrows():
    for v in ast.literal_eval(r['versos']):
        
        print(v)

In [ ]:


import ast
x = r['versos']
x = ast.literal_eval(x)
x

In [ ]:
x[3]

-- MySQL Workbench Forward Engineering

SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION';

-- -----------------------------------------------------
-- Schema mydb
-- -----------------------------------------------------
-- -----------------------------------------------------
-- Schema lavidaessueno
-- -----------------------------------------------------

-- -----------------------------------------------------
-- Schema lavidaessueno
-- -----------------------------------------------------
CREATE SCHEMA IF NOT EXISTS `lavidaessueno` DEFAULT CHARACTER SET utf8 ;
USE `lavidaessueno` ;

-- -----------------------------------------------------
-- Table `lavidaessueno`.`jornada`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`jornada` (
  `idjornada` INT NOT NULL AUTO_INCREMENT,
  `nombre_del_acto` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`idjornada`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`personaje`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`personaje` (
  `idPersonaje` INT NOT NULL AUTO_INCREMENT,
  `nombre` VARCHAR(45) NULL DEFAULT NULL,
  PRIMARY KEY (`idPersonaje`))
ENGINE = InnoDB
AUTO_INCREMENT = 2
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`obra`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`obra` (
  `idtexto` INT NOT NULL AUTO_INCREMENT,
  `texto` TEXT NULL DEFAULT NULL,
  `n_interven` INT NULL DEFAULT NULL,
  `n_versos` INT NULL DEFAULT NULL,
  `jornada_idjornada` INT NOT NULL,
  `Personaje_idPersonaje` INT NOT NULL,
  PRIMARY KEY (`idtexto`),
  INDEX `fk_texto_jornada_idx` (`jornada_idjornada` ASC) INVISIBLE,
  INDEX `fk_texto_Personaje1_idx` (`Personaje_idPersonaje` ASC) VISIBLE,
  CONSTRAINT `fk_texto_jornada`
    FOREIGN KEY (`jornada_idjornada`)
    REFERENCES `lavidaessueno`.`jornada` (`idjornada`),
  CONSTRAINT `fk_texto_Personaje1`
    FOREIGN KEY (`Personaje_idPersonaje`)
    REFERENCES `lavidaessueno`.`personaje` (`idPersonaje`))
ENGINE = InnoDB
DEFAULT CHARACTER SET = utf8mb3;


-- -----------------------------------------------------
-- Table `lavidaessueno`.`versos`
-- -----------------------------------------------------
CREATE TABLE IF NOT EXISTS `lavidaessueno`.`versos` (
  `idverso` INT NOT NULL AUTO_INCREMENT,
  `verso_suelto` TEXT NULL,
  `obra_idtexto` INT NOT NULL,
  INDEX `fk_versos_obra1_idx` (`obra_idtexto` ASC) VISIBLE,
  PRIMARY KEY (`idverso`),
  CONSTRAINT `fk_versos_obra1`
    FOREIGN KEY (`obra_idtexto`)
    REFERENCES `lavidaessueno`.`obra` (`idtexto`)
    ON DELETE NO ACTION
    ON UPDATE NO ACTION)
ENGINE = InnoDB;


SET SQL_MODE=@OLD_SQL_MODE;
SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS;